.card {
    transition: all 0.3s ease;
    border: 1px solid transparent; /* Borde inicial transparente */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra al pasar el mouse */
    border: 2px solid #FF4C60; /* Borde de color al pasar el mouse */
}
/* Estilo inicial del elemento */
.contact-info {
    position: relative;
  }
  
  .contact-info > div.floating-content {
    position: absolute;
    top: 0;
    right: 0;
  }