<section id="soluciones" [hidden]="virtualRouter.routerActive!=='soluciones'">
    <div class="container">
        <h2 class="section-title wow fadeInUp" [hidden]="editing">Soluciones
            <span style="color: #FF4C60;" class="icon icon-plus" (click)="edit()" style="cursor: pointer;"></span>
        </h2>
        <h2 class="section-title wow fadeInUp" [hidden]="!editing">Nueva Solución </h2>
        <div class="spacer" data-height="60"></div>
        <div class="row">
            <div class="card col-md-5 timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden"
                [hidden]="editing" *ngFor="let solucion of global.soluciones" style="margin-bottom:5%; margin-left:2%">
                <div class="timeline-container wow fadeInUp">
                    <div class="content">
                        <h3 class="title">{{solucion.name}}</h3>
                        <p>{{solucion.detail}}</p>
                    </div>
                </div>
                <span class="line"></span>
            </div>
            <div class="col-md-12" [hidden]="!editing">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <div class="">
                                    <ngx-awesome-uploader [adapter]="adapter" [captions]="captions">
                                    </ngx-awesome-uploader>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="">
                                    <div class="form-group">
                                        <label for="event-name">Nombre de la solucion</label>
                                        <input class="form-control" placeholder="nombre" type="text"
                                            [(ngModel)]="data.name" name="name" required
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="form-group">
                                        <label for="event-name">Descripción</label>
                                        <input class="form-control" placeholder="Descripción" type="text"
                                            [(ngModel)]="data.description" name="name" required
                                            [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="form-group">
                                        <label for="event-description">Rubro</label>
                                        <select id="category" class="form-control wide my-custom-select"
                                            [(ngModel)]="category" (ngModelChange)="setCategory(category)"
                                            [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let category of yeoman.allcategory, let i = index "
                                                [ngValue]="i">
                                                <span style="cursor:pointer;">{{category.name}}</span>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div div class="popup-box-actions medium void" style="text-align: end;">
                        <button class="btn btn-primary" id="closeButton" (click)="onSubmit()" style="background-color: #558b2f;
                        border-color: #558b2f; margin-right: 10px;">Guardar solucion!</button>
                        <button class="btn btn-primary" id="closeButton" (click)="cancelarUpdate()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>