.card {
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.101); /* Sombra al pasar el mouse */
    border: 1px solid transparent; /* Borde inicial transparente */
}

.card:hover {
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra al pasar el mouse */
    border: 1px solid #FF4C60; /* Borde de color al pasar el mouse */
}

.timeline span.line {
    position: absolute;
    width: 1px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 15px;
  }
  .float-right-corner {
    position: absolute;
    top: 15px;
    right: 15px;
    
  }
  .iconB {
    color: #FF4C60;
  }
  

  .iconB:hover {
    cursor: pointer;
    color: black !important; 
  }
