<section id="blog" [hidden]="virtualRouter.routerActive!=='blog'">
  
    <div class="container">

      <h2 class="section-title wow fadeInUp">Publicaciones recientes
        <span style="color: #FF4C60;" class="icon icon-plus" (click)="newPost()"></span></h2>

      <div class="spacer" data-height="60"></div>

      <div class="row blog-wrapper" > 
        <div class="col-md-4" *ngFor="let post of global.posts; let i = index " style="cursor: pointer;">
         
          <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
            <div class="thumb" >
              
              <a href="#">
                <img src="{{post.img}}" alt="blog-title" />
              </a>
            </div>
            <div class="details">
              <h4 class="my-0 title"><a href="#">{{post.title}}</a></h4>
              <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">{{post.autor}}</li>
              </ul>
            </div>
          </div>
        </div>

       

      </div>

    </div>

  </section>