<section [hidden]="virtualRouter.routerActive!=='rubros'">
    <div class="container">
        <h2 [hidden]="isEditing || adding" class="section-title wow fadeInUp" style="position: fixed; z-index: 20; background-color: white; width: 100%; top: 0; padding-top: 50px;">
            Rubros
            <span style="color: #FF4C60;" class="icon icon-plus iconB" (click)="add()"></span>
        </h2>
        
  <!--       <h2 class="section-title wow fadeInUp" [hidden]="editing || isEditing">Nuevo Rubro</h2>
       <h2 class="section-title wow fadeInUp" [hidden]="!isEditing">Actualizar Rubro</h2>
  -->
  <h2 class="section-title wow fadeInUp" [hidden]="!adding">Nuevo Rubro </h2>
  <div class="spacer" data-height="60"></div>
        <div class="spacer" data-height="60"></div>
        <span> </span>
        <div class="row">
            <div class="row portfolio-wrapper col-md-8" [hidden]="editing || adding">
                <div class="col-md-5 col-sm-6 grid-item " *ngFor="let rubro of global.rubros; let i = index" style="margin-top: 10px; ">
                    <a class="card" (click)="preview(rubro)" style="border-radius: 15px;">
                        <div class="portfolio-item rounded shadow-dark">
                            <div>
                                <h3 class="wow " style="color:#302f4e; padding: 10%; cursor: pointer;">{{rubro.name}}
                                    
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 " style="position: fixed; right: 20px;" [hidden]="editing || adding">
                <div class="">
                    <span style="font-weight: 1000; font-size: 15px; margin-left: 5px; color: #5e4cff;" [hidden]="!global.rubroPreview">
                        <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-outline-dark btn-xs" (click)="edit()">
                            <span class="icon icon-pencil"></span></button>
                    </span>
                    <span style="font-weight: 1000; font-size: 15px; margin-left: 5px; color: #FF4C60;" [hidden]="!global.rubroPreview">
                        <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-xs"       (click)="beforeDelete()">
                            <span class="icon icon-trash"></span></button>
                    </span>  
                        
                    <div class="thumb">
                        <h3 class="wow fadeInUp">{{global.rubroSelected.name}} </h3>
                        <img src="{{global.rubroSelected.images[0]}}" alt="" />
                        <div class="mask"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" [hidden]="(!editing && !adding) || isEditing">
                    <div class="contact-info">
                      <form>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="">
                              <div class="">
                                <ngx-awesome-uploader [adapter]="adapter" [captions]="captions" [showPreviewContainer]="false"></ngx-awesome-uploader>
                                <span *ngFor="let image of _butler.uploaderImages">
                                  <img src="{{image}}" alt="" style="max-width: 100px; padding: 2%; border-radius: 15px;"> <br />
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="">
                              <div class="">
                                <div class="form-group">
                                  <label for="event-name">Nombre de rubro</label>
                                  <input class="form-control" placeholder="nombre" type="text" [(ngModel)]="data.name" name="name" required [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="popup-box-actions medium void" style="text-align: end;">
                          <button class="btn btn-default" id="closeButton" (click)="onSubmit()" style=" margin-right: 10px;" [hidden]="!adding">Agregar</button>
                          <button class="btn btn-default" id="closeButton" (click)="updateRubro()" style=" margin-right: 10px;" [hidden]="!editing">Guardar</button>
                          <button class="btn btn-dark" id="closeButton" (click)="cancelarUpdate()">Cancelar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  
              
            </div>
        </div>
    </div>
</section>